@model League_Of_Fools.Models.SummonerModel

<div>
    @*https://ddragon.leagueoflegends.com/cdn/14.2.1/img/profileicon/5211.png*@
    <div class="champ-head">
        <img src="https://ddragon.leagueoflegends.com/cdn/14.2.1/img/profileicon/@(Model.ProfileIconId).png" />
        <div>
            <h1 class="champ-name">@Model.Name</h1>
        </div>
    </div>
    <div class="top-champs">
        <h2>Top Played Champs</h2>
        <div class="container">
            @foreach (var champ in await Model.Champions)
            {
                <div class='card' style='width: 18rem;'>
                    Here
                    @*<img src=@($"https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{champ.Id}_0.jpg") class='card-img-top' alt='@champ.Name' />
                    <div class='card-body'>
                        <h5 class='card-title'>@champ.Name</h5>
                        <p class='card-text'>@champ.Blurb</p>
                        <a class="btn btn-primary" asp-route-Key="@champ.Key" asp-controller="Champions" asp-action="Details">@($"More on {champ.Name}")</a>
                    </div>*@
                </div>
            }
        </div>
    </div>
</div>
